:root {
    /* colors */
    --bg-body: #c4c4c4;
    --bg-red-primary: #ff0000;
    --bg-red-primary-transparent: #b33e3ef1;
    --bg-red-secondary: #fe142f;
    --bg-blue-primary: #3876ac;
    --bg-black-primary: #232323;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #279e7a;
    /* fonts */
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    /* modal */
    --modal-duration: 0.8s;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    padding-right: 1rem;
  }

  